
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #ffea00;
    color: white;
    padding: 10px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 50px;
    width: auto;
}

.logo span {
    font-size: 24px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
    font-size: 16px;
    flex: 1;
}

.search-bar button {
    padding: 10px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 16px;
}

.search-bar button:hover {
    background-color: #0056b3;
}


main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}


.form-container {
    background-color: #65dffd;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 500px;
    margin: 40px auto;
}

.form-container h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 5px;
}

.form-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.form-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-container button:hover {
    background-color: #0056b3;
}


.info-section {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 1200px;
}

.info-section h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.info-section h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.info-section p {
    font-size: 16px;
    line-height: 1.5;
}

.info-section ul {
    list-style-type: disc;
    padding-left: 20px;
}

.info-section li {
    margin-bottom: 10px;
}

.info-section strong {
    font-weight: bold;
}


.pagination-container {
    position: relative;
}

.pagination-content {
     display:inline;  
}

.page {
    display: inline; 
}

.page.active {
    display: block;
}

.page-image {
    width: 500px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pagination-controls {
    text-align: center;
    margin-top: 20px;
}

.pagination-controls button {
    padding: 10px 20px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
}

.pagination-controls button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}


footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
